<div class="navbar-inverse" id="topDiv">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-title">OA 系统管理 相关链接:</div>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/tntxiaoa/">OA管理</a></li>
                <li><a href="https://github.com/tntxia/tntxiaoa-admin">Github</a></li>
                <li><a href="#config">设置</a></li>
                <li><a href="javascript:changePassword()">修改密码</a></li>
                <li><a href="javascript:logout()">退出登陆</a></li>
            </ul>
        </div>
    </div>
</div>