<div id="form" style="padding: 10px;">
    <div style="font-size: 14px;font-weight:bold;margin-bottom: 10px;"> 用户编辑</div>
    <jxiaui-table-form :data="form" :items-in-row="2" style="margin-bottom: 10px;">
        <jxiaui-table-form-item label="名称">
            <template v-slot="form">
                <div>{{form.name}}</div>
            </template>
        </jxiaui-table-form-item>
        <jxiaui-table-form-item label="英文名">
            <template v-slot="form">
                <input v-model="form.name_en">
            </template>
        </jxiaui-table-form-item>
        <jxiaui-table-form-item label="性别">
            <template v-slot="form">
                <input type="radio" v-model="form.sex" value="male"> 男
                <input type="radio" v-model="form.sex" value="female"> 女
            </template>
        </jxiaui-table-form-item>
        <jxiaui-table-form-item label="职位">
            <template v-slot="form">
                <select v-model="form.workj">
                    <option v-for="(p,index) in positionList">{{p.role_name}}</option>
                </select>
            </template>
        </jxiaui-table-form-item>
        <jxiaui-table-form-item label="所在部门">
            <template v-slot="form">
                <select v-model="form.department_id">
                    <option v-for="(d,index) in departmentList" :value="d.id">{{d.departname}}</option>
                </select>
            </template>
        </jxiaui-table-form-item>
        <jxiaui-table-form-item label="电话">
            <template v-slot="form">
                <input v-model="form.worktel">
            </template>
        </jxiaui-table-form-item>
        <jxiaui-table-form-item label="是否绑定IP">
            <template v-slot="form">
                <jxiaui-checkbox true-value="Y" false-value="N" v-model="form.ipbd"></jxiaui-checkbox>
            </template>
        </jxiaui-table-form-item>
        <jxiaui-table-form-item label="IP">
            <template v-slot="form">
                <jxiaui-ip-input v-model="form.user_ip" :disabled="isIPDisabled">
            </template>
        </jxiaui-table-form-item>
        <jxiaui-table-form-item label="权限组" :colspan="2">
            <template v-slot="form">
                <select v-model="form.restrain_id">
                    <option v-for="(restrain, index) in restrainList" :value="restrain.id">{{restrain.restrain_name}}</option>
                </select>
            </template>
        </jxiaui-table-form-item>
    </jxiaui-table-form>
    <button @click="sub">提交</button> <button @click="back">返回</button>
</div>