<div id="app">
    <div id="toolbar">
        部门：
        <select v-model="form.deptId">
			<option value="">请选择</option>
			<option v-for="(d,index) in departmentList" :value="d.id">{{d.departname}}</option>
		</select> 用户名：
        <input v-model="form.name">
        <jxiaui-button @click="query">查询</jxiaui-button>
        <jxiaui-button @click="add">增加</jxiaui-button>
    </div>

    <div id="datagrid">
        <jxiaui-datagrid ref="datagrid" :dataset="dataset">
            <jxiaui-datagrid-item label="#" type="index"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="名称" field="name"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="英文名" field="name_en"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="所属部门" field="department_name"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="职位" field="workj"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="操作">
                <template v-slot="row">
                    <button @click="toEdit(row)">修改</button>
                    <button @click="toChangePassword(row)">修改密码</button>
                    <button @click="viewRole(row)">用户角色</button>
                    <button @click="del(row)">删除</button>
                </template>
            </jxiaui-datagrid-item>
        </jxiaui-datagrid>
    </div>

    <update-password-dialog ref="updatePasswordDialog"></update-password-dialog>
    <!--
    <jxiaui-dialog title="密码修改">
        <div id="form" style="padding: 10px;">
            <input type="hidden" name="id"> 密码：
            <input name="password" type="password">
            <button @click="sub">提交</button>
        </div>
    </jxiaui-dialog>-->
</div>